#root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body {
    background-image: url("../assets/background.jpg");
    background-size: cover;
}

#title {
  margin: 30px;
  font-size: 4rem;
}

div {
    border: none;
    color: white;
}

.contentContainer {
  display: flex;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
}
